
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Longin</title>
    <link rel="stylesheet" href="singup.css">
</head>
<body>
    <form  id="userData">
       <h2>LONG IN</h2>
        <input type="email" name="email" id="email" placeholder="Enter a email" />
        <input type="text" name="password" id="password" placeholder="Enter a password" />
        <input type="submit" />
      </form>
</body>
<script src="./login.js"></script>
</html>
