
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="singup.css">
  </head>
  <body>
    <form  id="userData">
      <input type="text" name="username" id="username" placeholder="Enter a Name"/>
      <input type="email" name="email" id="email" placeholder="Enter a Email" />
      <input type="text" name="password" id="password" placeholder="Enter a Password" />
      <input type="submit" />
    </form>

  </body>
  <script src="./signup.js"></script>
</html>
